#modDiv{
    display: flex;
    justify-content: space-between;
    min-height:39.1pc;
}

.modComDiv{
    background-color: darkslategray;
    margin-top: 2pc;
    margin-left: 1pc;
    margin-right: 1pc;
    padding: 2pc;
    border-radius: 5pc;
}
 
.modFormDiv{
    margin-bottom: 10pc;
}

