.div{
    text-align: center;

    justify-content: space-between;
}
.nav{
    background-color: darkslategray;
    
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.link{
    color: aliceblue;

    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}